/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .select2-container--default .select2-selection--multiple .select2-selection__choice{
    background:#ee6443!important;
    color:#fff;
    padding:5px !important;
    border:0px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
   color:#fff !important;
}

#pi-extracting{
   z-index:1000;
   width:100%;
   height:100%;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top:0;
   left:0;
   background-color: rgba(255,255,255,0.6);
   font-size:18px;
   font-weight:bold;
}

#pi-extracting .close{
   margin-left:15px;
}

.pisol-toggle-advance-option{
   cursor:pointer;
}

/* side menu */
.bootstrap-wrapper #pisol-side-menu{
	background: linear-gradient(135deg, #1a4562, #2f6c8c, #1a4562);
	color:#fff;
	padding:10px;
	border-radius:10px;
	margin-top:20px;
	display:flex;
	flex-direction: column;
	color:#fff;
	gap:0.5rem;
}

.bootstrap-wrapper .pi-sticky{
	position: sticky;
	top: 60px;
}


.bootstrap-wrapper #pisol-side-menu a{
	color:#fff !important;
	padding:5px 5px !important;
	transition:all 0.3s ease;
	letter-spacing: 1.2px;
}

.bootstrap-wrapper #pisol-side-menu a .dashicons{
	margin-right:5px;
}

.bootstrap-wrapper #pisol-side-menu a:hover, .bootstrap-wrapper #pisol-side-menu a.active{
	text-decoration: none;
	color: #ccc !important;
	font-weight:bold;
}

.bootstrap-wrapper #pisol-side-menu a.bg-primary,.bootstrap-wrapper #pisol-side-menu a.bg-secondary{
	background: transparent !important;
	border:0 !important
}

.bootstrap-wrapper #pisol-side-menu a.bg-primary .dashicons{
	color: var(--primary) !important;
}

.bootstrap-wrapper #pisol-side-menu .pi-sub-menu{
    margin-left:20px;
}

.bootstrap-wrapper #pisol-side-menu .pi-sub-menu a{
		margin:0px !important;
		padding:5px 0 5px 10px !important;
		text-align:left !important;
		border:0 !important;
        justify-content: flex-start !important;

    & .pi-icon{
        margin-right:10px;
    }

    &.bg-primary .pi-icon{
		color: var(--primary) !important;
        font-weight:bold;
        font-size:1rem;
	}
}

/* menu done */

/* form */
.opacity-0 {
  opacity: 0 !important;
}

.opacity-25 {
  opacity: 0.25 !important;
}

.opacity-50 {
  opacity: 0.5 !important;
}

.opacity-75 {
  opacity: 0.75 !important;
}

.opacity-100 {
  opacity: 1 !important;
}

.pisol-form-element-row small{
	color:#1a4562;
	opacity:0.7;
	margin-top:10px;
	display:block;
}
/* end form */

/* side banner */
.bootstrap-wrapper .pi-shadow{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	position:relative;
	background: linear-gradient(135deg, #1a4562 0%, #2c6a89 50%, #163f59 100%);
	z-index:1;
}

.bootstrap-wrapper .pi-shadow li, .bootstrap-wrapper .pi-shadow h6, .bootstrap-wrapper .pi-shadow h4{
	color:#fff !important;
}

.bootstrap-wrapper .pi-shadow hr{
	border-color:#1a4562 !important;
}

h2#pi-banner-tagline{
	color:#fff !important;
	font-size:1.1rem !important;
	text-align:center;
}

h4.pi-bottom-banner{
	font-size: 18px !important;
	margin-bottom:15px;
	text-align: center;
}